This notebook handles the cleanup of models and tables created in the Db2MLTutorial1.ipynb notebook

In [1]:
import pandas as pd

In [2]:
%run db2.ipynb

Db2 Extensions Loaded.

In [3]:
%run connectiondb2ml-banking.ipynb

Connection successful.

We will use the `IDAX.DROP_MODEL` stored procedure to delete the models and their associated model tables. Then we can use normal `DROP TABLE` statements to delete the rest of the tables in our schema.

In [8]:
%%sql -q
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_3');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_4');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_5');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_6');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_7');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_8');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_9');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_10');
CALL IDAX.DROP_MODEL('model=CLUSTERING.KMEANS_11');
CALL IDAX.DROP_MODEL('model=CLUSTERING.PCA');

In [10]:
# Drop all remaining tables in schema CLUSTERING
try:
    query = %sql select 'drop table '||rtrim(tabschema)||'.'||rtrim(tabname) from syscat.tables where tabschema = 'CLUSTERING'
    tabs_to_drop = pd.DataFrame(query)
    for cmd in tabs_to_drop['1']:
        %sql {cmd}
except:
    print('Schema is already clean.')

Command completed.
Schema is already clean.

In [6]:
success("Clean Up Successful.")

Clean Up Successful.